{% extends 'homepage/base.html' %}
{% load static %}

{% block head_title %}Blog || {{ block.super }}{% endblock head_title %}

{% block content %}

<!-- Front Image -->
<div class="container-fluid p-0 front-block">
    <img class="img-fluid" src="{% static 'blog/images/blog.jpg' %}" alt="">
    <div class="front-text">
        <h1 class="display-1">Blog</h1>
        <h2>Have a nice Read!</h2>
    </div>
</div>


<div class="container">
    <hr class="featurette-divider">
    <div class="row">
        
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            {% for post in posts %}
            <div class="card mb-4">
                <a href="{% url 'blog_detail' pk=post.pk %}"> <img class="card-img-top" src="{{ post.title_picture.url }}" alt="Blog Picture"></a>
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }} <span class="text-muted small">{{ post.sub_title }}</span></h2>
                    <p class="card-text">{{ post.content|truncatewords:30|safe }}</p>
                    <a href="{% url 'blog_detail' pk=post.pk %}" class="btn btn-primary">Weiterlesen &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Veröffentlich am {{ post.posted_on }} von {{ post.author }}
                    <!-- <a href="#">Start Bootstrap</a> -->
                </div>
            </div>
            {% endfor %}
        </div>
        
    {% include 'blog/sidebar.html' %}
        
    </div>

    <hr class="featurette-divider">

</div>


{% endblock content %}