{% extends 'homepage/base.html' %}
{% load static %}

{% block head_title %}Blog || {{ block.super }}{% endblock head_title %}

{% block content %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<div class="container">
    <hr class="featurette-divider">
    <div class="row">
        
        <div class="col-md-8">
            <img class="card-img-top" src="{{ post.title_picture.url }}" alt="Card image cap">
            
            <h1 class="">
                {{ post.title }}
            </h1>
            <p>
                {{ post.content|safe }}
            </p>
            <div class="text-muted small">
                Veröffentlich am {{ post.posted_on }} von {{ post.author }}
            </div>
            <div class="text-muted small">
                Updated am {{ post.updated_on }} von {{ post.author }}
            </div>
            <hr class="featurette-divider">
            <a href="{% url 'blog' %}" class="btn btn-primary">&larr; Blog </a>
        </div>


        {% include 'blog/sidebar.html' %}
        
    </div>
</div>

{% endblock content %}