{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}

<!-- Front Image -->
<div class="container-fluid p-0 front-block">
    <img class="img-fluid" src="{% static 'blog/images/blog.jpg' %}" alt="">
    <div class="front-text">
        <h1 class="display-1">Blog</h1>
        <h2>Coming Soon!</h2>
    </div>
</div>


<div class="container">
    <hr class="featurette-divider">
    <div class="row">
        
        <!-- Blog Entries Column -->
        <div class="col-md-8">
              <h1 class="my-4">Der Blog ist im Aufbau und ist bald wieder online
                <!-- <small>Kommen Sie wieder!</small> -->
            </h1>

        </div>
        
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            
            <!-- Search Widget -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div> -->
            
            <!-- Side Widget -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Events</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    
                    <br>
                    <br>
                    <img src="/media/images/highres_476636587.png" alt="" class="img-fluid">
                </div>
            </div> -->
            
            <!-- Side Widget -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Empfohlene Seiten</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div> -->
            
            <!-- Side Widget -->
            <!-- <div class="card my-4">
                <h5 class="card-header">Ankündigungen</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                </div>
            </div> -->
            
            <!-- Categories Widget -->
           
            
        </div>
        
    </div>
    <!-- /.row -->
    <hr class="featurette-divider">
</div>
<!-- /.container -->

{% endblock content %}