{% extends 'homepage/base.html' %}
{% load static %}

{% block head_title %}Kontakt || {{ block.super }}{% endblock head_title %}
{% block content %}

<div class="container-fluid p-0 front-block" id="kontakt-image">
    <h2></h2>
    <img class="img-fluid" src="{% static 'homepage/images/retro_telephone.jpg' %}" alt="">
    <div class="front-text">
        <h1 class="display-1">Kontakt</h1>
    </div>
</div>


<div id="kontakt" class="container">
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-8">
            <h4>
                Einfach Fragen
            </h4>
            <p>Gerne setze ich mich mit Ihnen zusammen, um ihr Projekt zu besprechen und Lösungen vorzuschlagen.</p>
        </div>
        <!--  <div class="col-md-4">
        <img class="img-fluid" src="{% static 'homepage/images/contact.jpg' %}" alt="">    
        </div> -->
        <div class="col-md-4">
            <h4>
                Silvani Services <br> Lindenstrasse 7 <br> 8134 Adliswil <br> Zürich <br>
            </h4>
            <p> Telefon: +41 78 78 42 404 </p> <p> <a href="mailto:adrian.silvani@outlook.com">adrian.silvani@outlook.com</a> </p> <br>
        </div>
        
    </div>
    <hr class="featurette-divider">
</div>

{% endblock content %}