{% extends 'homepage/base.html' %}
{% load static %}

{% block head_title %}Impressum || {{ block.super }}{% endblock head_title %}
{% block content %}


<div class="container-fluid p-0 front-block" id="impressum-image">
    <h2></h2>
    <img class="img-fluid" src="{% static 'homepage/images/disclaimer.jpg' %}" alt="">
    <div class="front-text">
        <h1 class="display-1">Impressum</h1>
    </div>
</div>

<div class="container">
        <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-4 float-right">
            <h4>
                Silvani Services <br> Seminarstrasse 4a <br> 9200 Gossau St. Gallen <br> Schweiz
            </h4>
            <p> Telefon: +41 78 78 42 404 </p> <p> <a href="mailto:silvani.services@gmail.com">silvani.services@gmail.com</a> </p> <br> <p> Handelsregister-Nummer CH-320.1.083.070-0 </p><p>UID CHE-258.328.281 </p>
        </div>
        <div class="col-md-8">
        
            
            <h4>Über Uns</h4>
            <p>Silvani Services ist ein Einzelunternehmen und ein Projekt. Das Ziel ist es, angemessene Antworten auf die Fragen der digitalen Gesellschaft zu erarbeiten. Die Herausforderung besteht darin, traditionelle Konzepte und Erfolgsmodelle mit neuen Ansätzen und Strukturen zu verbinden. In dieser Schnittstelle bietet Silvani Services einfache und praktische Lösungen an.</p>
            <h4> Haftungsausschluss </h4>
            <p> Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung der veröffentlichen Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen. Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen. </p>
            <h4> Haftung für Links</h4>
            <p> Verweise und Links auf Webseiten Dritter liegen ausserhalb des Verantwortungsbereichs des Betreibers dieser Präsentation. Es wird jegliche Verantwortung für Webseiten Dritter abgelehnt. Der Zugriff und die Nutzung von Webseiten Dritter erfolgt auf eigene Gefahr des Nutzers oder der Nutzerin.</p>
            <h4> Datenschutz</h4>
            <p> Datenschutz Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und die datenschutzrechtlichen Bestimmungen des Bundes (Datenschutzgesetz, DSG) hat jede Person Anspruch auch Schutz ihrer Privatsphäre sowie auch Schutz vor Missbrauch ihrer persönlichen Daten. Ich halte diese Bestimmungen ein. Persönliche Daten werden streng vertraulich behandelt und weder an Dritte verkauft noch weiter gegeben. In enger Zusammenarbeit mit meinem Hosting-Provider bemühe ich mich, die Datenbanken so gut wie möglich vor fremden Zugriffen, Verlust, Missbrauch oder vor Fälschung zu schützen. Beim Zugriff auf diese Webseiten werden folgende Daten in Logfiles gespeichert: IP-Adresse, Datum, Uhrzeit, Browser-Anfrage und allg. übertragene Informationen zum Betriebssystem resp. Browser. Diese Nutzungsdaten bilden die Basis für statistische, anonyme Auswertungen, so dass Trends erkennbar sind, anhand derer ich mein Angebot entsprechend verbessern kann.</p>
            
        </div>
        
    </div>
    <hr class="featurette-divider">
</div>

{% endblock content %}