{% extends 'homepage/base.html' %}
{% load static %}

{% block head_title %}Text & Redaktion || {{ block.super }}{% endblock head_title %}

{% block content %}

<div class="container-fluid p-0 front-block" id="text-image">
    <img class="img-fluid" src="{% static 'homepage/images/macbook3_front.jpg' %}" alt="Bild Macbook">
    <div class="front-text">
        <h1 class="display-1">Text & Redaktion</h1>
        <h2></h2>
    </div>
</div>

<div class="container">
        <hr class="featurette-divider">
        <div class="row ">  
            <div class="col-md-4">
                
                
            </div> 
        <div class="col-md-8">
            <h1 class="my-4">
                Artikel, Blogs und Kommentare von Silvani Services
            </h1>
            <p class="lead service-text">
                    Hochwertige Inhalte verschaffen Aufmerksamkeit und sind nachhaltig. Mit guten Texten stärken Sie Ihre Glaubwürdigkeit und Position im Markt. Gut strukturierte Texte sind der Schlüssel zu erfolgreichem Webdesign und sind essentiell für das Branding. Mit guten Texten überraschen und gewinnen Sie - sei es mit Newslettern, Produktbeschreibungen, Medienmitteilungen oder Broschüren. Das geschriebene Wort ist Teil jedes erfolgreichen Unternehmens. <br> Silvani Services schreibt für Sie! Ich übernehme redaktionelle Arbeiten und schreibe Artikel oder Blogbeiträge für Sie, für Ihre Firma oder Ihren Verein. Ein guter Text hilft dabei, den Wert einer Homepage dauerhaft zu steigern und in den Suchmaschinen vorwärts zu kommen. Schicken Sie eine Email oder rufen Sie mich an für eine unkomplizierte Offerte.    
            </p>
            
        </div>
        
    </div>
    <hr class="featurette-divider">
</div>
{% endblock content %}