<footer class="container">
    <p class="float-right">
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/SilvaniServices/"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/SilvaniServices"><i class="fab fa-twitter"></i></a>
    </p>
    <p id="footer-left">&copy; 2017-2018 Silvani Services &middot; <a href="{% url 'contact' %}">Kontakt</a> &middot; <a href="{% url 'disclaimer' %}">Impressum</a></p>
</footer>